build/LVGL_Arduino*
build/*
data
build-cache
uploads
IDF_*/build*
IDF_*/output
IDF_*/managed_components
.MobiliADashi_bash_history
*.ipynb_checkpoints
IDF_SHARED/assets/assets.zip
IDF_SHARED/assets/mokuku
IDF_SHARED/assets/minion
IDF_SHARED/assets/muyu/meta
IDF_SHARED/assets/muyu/video
IDF_SHARED/assets/stereo_memes
IDF_lcd_with_te
log.txt
*.pt
